# Node.js
node_modules/
package-lock.json
yarn.lock

# React
build/
coverage/
dist/

# Environment variables
.env

# Drizzle Migrations (pasta de migrações geradas)
migrations/

#Copilot Github
copilot-instructions.md